
<!-- <app-header></app-header>


<app-navbar></app-navbar> -->

<section class="container-fluid">
    <div class="row">
            <app-navbar></app-navbar>

       
        <div class="col-md-10">
            <app-header></app-header>
            <app-add-prof></app-add-prof>

        </div>
    </div>
    <div class="row">
        <!-- <app-footer></app-footer> -->
    </div>

</section>
<!-- <br><br><br>
<section class="container-fluid">
    <div class="row">
        <br>
<app-footer></app-footer>
</div>
</section> -->